.bg{
    background-image: url(../../assets/img/gallery/gallery-4.png);
    height: 680px;
    background-size: cover;
}
.container{
    height: auto;
    background-color: #e4e4e4c4;
}
.my-button{
    color: #fff;
    background-color: #020202;
    border-color: #0c0c0c;
}
/* .contact-image{
    width:auto;
    height: 100px;
    border-radius: 50px;
} */